* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-para: #777570 ;
    --color-brown: #A36833;
    --color-gray: rgba(128, 128, 128, 0.543);
    --color-darkGreen: rgb(94, 124, 117);
    --color-title: #4e4540;
    --color-date: #3f8079;
}

html, body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    overflow-x: hidden;
}

.link {
    text-decoration: none;
    color: #000;
}

.arrow {
    position: absolute;
    left: 30px;
    top: 80px;
    cursor: pointer;
    color: #000;
}

.actionButton {
    margin-left: 20px;
    background-color: #3f8079;
}

a {
    margin-left: 10px;
    color: #3f8079;
}

a:hover {
    color: #7da3a0;
}

.StripeElement {
	width: 100%;
	padding: 11px 15px 11px 0;
}

.success {
    color: green;
}

.error {
    color: red;
}